body{
    margin:0 ;
    padding: 0;
    background-color: #d5e1ef;
}
.flex-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-box{
    background-color: hsl(0, 0%, 100%);
    height: 360px;
    border-radius: 15px;
    width:200px;
    margin-left:585px;
    margin-top:130px; 
    box-shadow: 2px 2px 2px 3px hsl(212, 45%, 89%);
}
.content-box{
    text-align: center;
    width: 180px;
    height: 340px;
}

img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
p{
    font-size:15px;
    font-family: 'Outfit', sans-serif;
}
p#texto{
    font-weight: 700;
    word-wrap: break-word;
    color:hsl(218, 44%, 22%)
}
p#subtexto{
    font-weight: 400;
    font-size:15px;
    word-wrap: break-word;
    color:hsl(220, 15%, 55%);
}

.atribuição{
    align-items: bottom;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 160px;
    word-spacing: 1px;
}

a{
    text-decoration: none;
    padding-left: 1.9px;
    color: black;
}

a:hover{
    text-decoration: underline;
    font-size: 14px;
    color: rgb(31, 30, 30);

}